* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    font-family: Heebo;
}

.container h1 {}

.container p {}

.technologies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}